<% if @movie.errors.any? %>
  <ul>
  <% @movie.errors.full_messages.each do |msg|  %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @movie do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </p>

  <p><%= f.submit %></p>
<% end %>

