<h1>New Movie</h1>

<%= form_tag(movies_url) do %>
  <p><%= label_tag :title %>
    <%= text_field_tag :title %></p>


  <p><%= label_tag :year %>
    <%= text_field_tag :year %></p>

  <p><%= submit_tag %></p>
<% end %>
