<% if @venue.errors.any? %>
  <ul>
  <% @venue.errors.full_messages.each do |msg|  %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @venue do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p><%= f.submit %></p>
<% end %>

